<div class="container">

<h3>Users who have address</h3>
<button (click) = "insertGeoCord()">Add  Geo Cord</button>
<button (click) = "createIndex()">Create Index</button>
<div class="leftside">
<div *ngFor = "let user of users">
  <button mat-raised-button style="margin:1rem; width:100%" (click) = "getGeo(user)">{{user.email}}</button>

</div>
</div>
<!-- 
<div class="rightside">
<div *ngIf = "geo" class="google-maps" style="clear:both;">
  <agm-map [latitude]="geo.cord.lat" [longitude]="geo.cord.lng">
    <agm-marker [latitude]="geo.cord.lat" [longitude]="geo.cord.lng"></agm-marker>
  </agm-map>  
</div></div>

<div style="clear:both;"></div>
</div> -->